<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Главная страница</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/materialize.min.css}"/>
</head>
<body>

<nav>
    <div class="nav-wrapper">
        <a th:href="@{/}" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a th:href="@{logout}">Составить расписание</a></li>
            <li><a th:href="@{logout}">Выйти</a></li>
            <li><a th:href="@{logout}">Выйти</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a th:href="@{logout}">Выйти</a></li>
        </ul>
    </div>
</nav>

<script type="text/javascript" th:src="@{/js/jquery-3.1.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
    })
</script>
</body>
</html>