<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/materialize.min.css}"/>
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

        body {
            background: #fff;
        }

        .wrapper {
            display: inline-block;
            padding: 32px 48px 0px 48px;
            border: 1px solid #EEE;
        }

        .center {
            text-align: center;
        }

        .input-field input[type=text]:focus + label,
        .input-field input[type=password]:focus + label {
            color: #e91e63 !important;
        }

        .input-field input[type=text]:focus,
        .input-field input[type=password]:focus {
            border-bottom: 2px solid #e91e63 !important;
            box-shadow: none !important;
        }
    </style>
</head>

<body>

<div class="section"></div>
<main>
    <div class="center">

        <h5 class="indigo-text">Please, login into your account</h5>
        <div class="section"></div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row wrapper">
                <form class="col s12" th:action="@{login}" method="post">
                    <div class="row">
                        <div class="col s12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="login" id="login" type="text" class="validate" autocomplete="off"/>
                            <label for="login">Login</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="password" id="password" type="password" class="validate" autocomplete="off"/>
                            <label for="password">Password</label>
                        </div>
                        <label style="float: right;">
                            <a class="pink-text" href="#!"><b>Forgot Password?</b></a>
                        </label>
                    </div>
                    <div style="text-align: center">
                        <div class="row">
                            <div class="col s12">
                                <button type="submit" name="btn_login"
                                        class="col s12 btn btn-large waves-effect indigo">
                                    Login
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <a href="#!">Create account</a>
    </div> <!--center div-->

    <div class="section"></div>
    <div class="section"></div>
</main>


</body>

<script type="text/javascript" th:src="@{/js/jquery-3.1.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
</html>